/* :root{
    --most-color:#008000;
} */


.formContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.form-box{
    /* border: 1px solid black;; */
    height:43rem;
    width:40rem;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 35rem;
    background:#fff;
    padding: 3rem 3rem 3rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form-box h1{
    font-size: 3rem;
    margin-bottom: 2.3rem;
    color: var(--most-color);
    /* position: relative; */
}

.form-box h1::after{
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 3px;
    background:var(--most-color);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.input-group .input-field{
    background: #fff;
    margin: 0.5rem 0;
    /* border-radius: 50px; */
    display: flex;
    align-items: center;
    border: 1px solid rgb(203, 203, 203);
    /* border-radius:31rem; */
    width: 100%;
}

.input-group .input-field input{
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    background:#fff;
    border: none;
    outline: none;
    padding: 0.6rem  0.7rem;
}

/* .input-field{
    border-radius: 2rem;
} */

input[type="file"] {
    -webkit-appearance: none;
    appearance: none;
}

.input-group .input-field span{
    margin-left: 0.5rem;
    color: #999;
}

.selectOption{
    width: 100%;
    background: transparent;
    color: #999;
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.btn-field{
    width: 100%;
    margin-top: 2rem;
}

.btn-field button{
    background:#008000;
    width: 100%;
    color: #fff;
    height: 3.5rem;
    border-radius: 2rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: backgroud 1s;
}

.update-form-box{
    /* border: 1px solid black;; */
    height:30rem;
    width:40rem;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 35rem;
    background:#fff;
    padding: 3rem 3rem 3rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}